/* Header.css */
.header {
    width: 100%;
    height: 60px;
    background-color: #f5f9f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    position: relative;
    cursor: pointer;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -10px;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
